[Unit]
Description=Start Minecraft
After=network.target

[Service]
User=minecraft
Group=mc_server_admin
Restart=on-failure
RestartSec=20 5
Type=simple
WorkingDirectory=/opt/minecraft/server
ExecStart=/opt/minecraft/server/start_minecraft_server.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
